* {
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
}
main {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}
main .container {
    width: 320px;
    height: 500px;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(137 148 169 / 26%) 0px 0px 10px;
}
picture img {
    width: 100%;
    height: 290px;
    border-radius: 15px;
}
section h1 {
color: hsl(218, 44%, 22%);
font-size: 23px;
padding-top: 5px;
}
section p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
    width: 260px;
    margin-left: 7px;

}
